<!-- This is a heavily hard-coded mock-up of what a POS integration might look like -->
<div ng-app="garconApp" ng-controller="GarconCtrl">
    <h3>Garçon Mock POS -- Refreshing in {{refresh}}</h3>
    <ul>
        <li ng-repeat="table in tables" style="list-style:none; width: 80%;">
            <br />
            <span style="color: green; width: 60%;" ng-show="{{table.available}}"><span class="col-md-6"> {{table.description}} - Available</span> <button class="btn btn-success col-md-2 pull-right" ng-click="openOrder(table.id)">Open Order</button></span>
            <span style="color: red; width: 60%;" ng-show="{{!table.available}}"><span class="col-md-6"> {{table.description}} - Unavailable;  Total: ${{table.total}} </span> <button class="btn btn-warning col-md-2 pull-right" ng-click="closeOrder(table.id)">Manual Close</button></span>
            <ul>
                <li ng-repeat="order in table.orders" style="list-style:none; width: 80%;">
                    <br/>
                    Order {{order.id}} &nbsp;&nbsp;&nbsp;&nbsp;<a href="" data-toggle="modal" data-target="#addItemModal" ng-click="launchModal(order.id)">Add Item</a><br />
                    <ul><li ng-repeat="item in order.items" style="list-style:none; width: 80%;">&nbsp;&nbsp;&nbsp;{{item.description}} - ${{item.price}} &nbsp;&nbsp;<a href="" ng-click="removeItem(item.id)">Remove Item</a></li><li style="list-style:none; width: 80%;">&nbsp;&nbsp;&nbsp;Tax ${{order.taxAmount}}</li></ul>
                </li>
            </ul>
            <br/>
        </li>
    </ul>
    <div class="modal fade" id="addItemModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Select an item from our extensive menu...</h4>
                </div>
                <div class="modal-body">
                    <ul><li ng-repeat="item in menu" style="list-style: none; width: 80%"><a href="" ng-click="addItem(item.id)" data-dismiss="modal">{{item.description}} - ${{item.price}}</a></li></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var base_url = '/Garcon';
    if (window.location.hostname == 'localhost')
        base_url = '';

    angular.module('garconApp', []).controller('GarconCtrl', function ($scope, $http) {
        $scope.refresh = 30;
        $scope.loaded = false;
        $scope.loadedFeeds = 0;
        $scope.merchantId = 1;
        $scope.menu = [];
        
        $scope.loadData = function () {
            $scope.loadedFeeds = 0;
            $scope.loaded = false;
            $http.get(base_url + '/api/Table?$filter=(merchantId eq ' + $scope.merchantId + ')').success($scope.tablesCallback);
            $http.get(base_url + '/api/Order?$filter=(closeDateTime eq null)').success($scope.ordersCallback);
        };

        $scope.masterCallback = function () {
            $scope.loadedFeeds = $scope.loadedFeeds + 1;
            
            if ($scope.loadedFeeds == 2) {
                $scope.loaded = true;
                // Stitch together Order Information on each Table
                for (var i = 0; i < $scope.tables.length; i++) {
                    if ($scope.tables[i].available == false) {
                        $scope.tables[i].orders = [];
                        $scope.tables[i].total = 0;
                        for (var j = 0; j < $scope.orders.length; j++) {
                            if ($scope.orders[j].tableId == $scope.tables[i].id) {
                                $scope.orders[j].items = [];
                                $scope.tables[i].orders.push($scope.orders[j]);
                                $http.get(base_url + '/api/OrderItem?$filter=(orderId eq ' + $scope.orders[j].id + ')').success($scope.orderItemsCallback);
                                $scope.tables[i].total += $scope.orders[j].totalAmount;
                            }

                        }
                    }
                }
            }
        };

        $scope.tablesCallback = function (tables) {
            $scope.tables = tables;
            $scope.masterCallback();
        };

        $scope.ordersCallback = function (orders) {
            $scope.orders = orders;
            $scope.masterCallback();
        };

        $scope.orderItemsCallback = function (foundItems) {
            if (foundItems.length > 0) {
                var orderId = foundItems[0].orderId;
                for (var i = 0; i < $scope.orders.length; i++) {
                    if ($scope.orders[i].id == orderId) {
                        for (var j = 0; j < foundItems.length; j++)
                            $scope.orders[i].items.push(foundItems[j]);
                    }
                }
            }
        };

        $scope.openOrder = function (tableId) {
            var newOrder = {};
            newOrder.tableId = tableId;
            newOrder.openDateTime = '2014-10-25T06:49:30';
            newOrder.closeDateTime = null;
            newOrder.amount = 0;
            newOrder.taxAmount = 0;
            newOrder.totalAmount = 0;
            $http.post(base_url + '/api/Order/', newOrder).success(function () { $scope.refresh = 0; });
        };

        $scope.closeOrder = function (tableId) {
            for (var i = 0; i < $scope.tables.length; i++) {
                if ($scope.tables[i].id == tableId) {
                    for (var j = 0; j < $scope.tables[i].orders.length; j++) {
                        $http.put(base_url + '/api/Order/Close/' + $scope.tables[i].orders[j].id).success(function () { $scope.refresh = 0; });
                    }
                }
            }
        };

        $scope.addItem = function (itemId) {
            var newItem = {};
            newItem.orderId = $scope.tempOrderId;
            newItem.description = $scope.menu[itemId].description;
            newItem.price = $scope.menu[itemId].price;
            $http.post(base_url + '/api/OrderItem/', newItem).success(function () { $scope.refresh = 0; });
        };

        $scope.removeItem = function (itemId) {
            $http.delete(base_url + '/api/OrderItem/' + itemId).success(function () { $scope.refresh = 0; });
        };

        $scope.loadData();

        $scope.refreshingIn = function () {
            if ($scope.refresh == 0) {
                $scope.refresh = 30;
                $scope.loadData();
            } else
                $scope.refresh = $scope.refresh - 1;

            $scope.$apply($scope.refresh);
        };

        $scope.launchModal = function (orderId) {
            $scope.tempOrderId = orderId;
        }
        setInterval($scope.refreshingIn, 1000);

        $scope.menu.push({ 'id': 0, 'description': 'Appetizer - Bruschetta', 'price': 6.95 })
        $scope.menu.push({ 'id': 1, 'description': 'Appetizer - Calamari', 'price': 11.95 })
        $scope.menu.push({ 'id': 2, 'description': 'Chicken Parmesan', 'price': 11.95 })
        $scope.menu.push({ 'id': 3, 'description': 'Spaghetti', 'price': 9.95 })
        $scope.menu.push({ 'id': 4, 'description': 'Alcohol - Red Wine, Bottle', 'price': 24.95 })
        $scope.menu.push({ 'id': 5, 'description': 'Alcohol - Manhattan', 'price': 8.95 })
        $scope.menu.push({ 'id': 6, 'description': 'Alcohol - Sazerac', 'price': 8.95 })
        $scope.menu.push({ 'id': 7, 'description': 'Beverage - Sweet Tea', 'price': 2.33 })
        $scope.menu.push({ 'id': 8, 'description': 'Beverage - Coca-Cola', 'price': 2.33 })
    });


</script>
